params {

    config_profile_name        = 'Default Yeast Calling Cards Configuration'
    config_profile_description = 'A default configuration for Yeast calling cards experiments'

    datatype                   = 'yeast'
    genome                     = 'R64-1-1'
    aligner                    = 'bwamem2'
    min_mapq                   = 10
    r1_crop                    = 75
    split_fastq_by_size        = 1000000
    split_fastq_by_part        = null
}
