/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile default_mammals

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Default Mammalian Calling Cards Configuration'
    config_profile_description = 'A default configuration for mammalian calling cards experiments'

    datatype                   = 'mammals'
    aligner                    = 'bwamem2'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN'
    min_mapq                   = 10
    r1_crop                    = 40
    split_fastq_by_part        = 10

}
