
params {

    config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
    config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
    config_profile_url = "https://htcf.wustl.edu/docs/"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 24
    max_time                   = '240.h'

}

executor {

    submitRateLimit = "2 sec"

}

process {

    executor = "slurm"
    scratch = "${launchDir}/local_tmp"

    withLabel:process_medium {
        cpus = { check_max( 6 * task.attempt, 'cpus' ) }
        memory = { check_max( 29.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
    }

    withLabel:process_high {
        cpus = { check_max(8 * task.attempt, 'cpus' ) }
        memory = { check_max( 59.GB * task.attempt, 'memory' ) }
        time = { check_max( 8.h * task.attempt, 'time' ) }
    }

}
