/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows=
        nextflow run nf-core/callingcards -profile test_yeast,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name         = 'Yeast Test Profile'
    config_profile_description  = 'Minimal test dataset to check Yeast pipeline functions'

    datatype                    = 'yeast'
    input                       = 'https://raw.githubusercontent.com/cmatKhan/test-datasets/callingcards/yeast/samplesheet.csv'
    genome                      = 'R64-1-1'
    aligner                     = 'bwamem2'
    split_fastq_chunk_size      = 10000
    r1_crop                     = 75
    min_mapq                    = 10
    max_cpus                    = 10
    max_memory                  = '14.GB'
    save_genome_intermediate    = true
    save_sequence_intermediate  = true
    save_alignment_intermediate = true
}

