/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Mammals Test Profile'
    config_profile_description = 'Minimal test dataset to check mammals pipeline function'

    datatype                   = 'mammals'
    input                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/callingcards/mammals/samplesheet.csv'
    fasta                      = 'https://raw.githubusercontent.com/nf-core/test-datasets/callingcards/mammals/chr1.fa'
    gtf                        = 'https://raw.githubusercontent.com/nf-core/test-datasets/callingcards/mammals/chr1.gtf'
    aligner                    = 'bwamem2'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN'
    r1_crop                    = 40
    min_mapq                   = 10
    max_cpus                   = 10
    max_memory                 = '14.GB'
    split_fastq_by_part        = null
    split_fastq_by_size        = 10000
}
