/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/callingcards -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Full mammals Test Profile'
    config_profile_description = 'Full size test dataset to check mammals pipeline function'

    datatype                   = 'mammals'
    input                      = 'https://raw.githubusercontent.com/cmatKhan/test-datasets/callingcards/mammals/samplesheet_full.csv'
    genome                     = 'GRCm38'
    aligner                    = 'bwa'
    r1_bc_pattern              = 'NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN'
    r1_crop                    = 40
    min_mapq                   = 10
    split_fastq_by_part        = 10
    split_fastq_by_size        = null
}
